version: 2.1
jobs:
  configure-server:
    docker: 
      - image: cimg/base:2021.04
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints: ["1c:74:ee:f0:a7:70:8d:ba:5a:5c:eb:0b:1d:8d:4d:c6"]
      - run:
          name: install ansible
          command: |
            sudo apt update
            sudo apt install ansible
      - run:
          name: run ansible
          command: |
            ansible-playbook -i inventory.txt main-remote.yml

# Orchestrate jobs using workflows
# See: https://circleci.com/docs/configuration-reference/#workflows
workflows:
  say-hello-workflow:
    jobs:
      - configure-server
